<div class="mt-4 col-4 offset-4">
  <div class="card">
    <div class="card-header">Password Reset Area</div>
      <div class="card-body">
        <div class="alert alert-danger" [hidden]="!error.password">
          {{error.password}}
        </div>
        <div class="alert alert-danger" [hidden]="!errors">
          {{errors}}
        </div>
        <div class="alert alert-success" [hidden]="!message">
          {{message}}
        </div>
          <form #responsePasswordForm=ngForm (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="inputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword1" [(ngModel)]="form.password" required placeholder="Password">
              </div>
              <div class="form-group">
                <label for="inputPassword2">Re-type Password</label>
                <input type="password" name="retypepassword" class="form-control" id="inputPassword2" [(ngModel)]="form.retypepassword" required placeholder="Re-type Password">
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!responsePasswordForm.valid">Change Password</button>
              <a routerLink="/login" class="btn btn-info float-right">Login</a>
          </form>
    </div>
  </div>
</div>