<div class="input-container">
    <mat-form-field>
      <input matInput type="text" class="form-control" placeholder="Full Name" name="full_name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" class="form-control" placeholder="Email Address" name="email_address">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" class="form-control" placeholder="Phone Number" name="phone_number">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" class="form-control" placeholder="Password" name="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" class="form-control" placeholder="Retype Password" name="retype_spassword">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>