<div class="input-container">
  <Label>Employee info</Label>
  <mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Full Name" name="full_name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Employee ID" name="employee_id">
  </mat-form-field>
  <label>Leave Info</label>
  <mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Date" name="date">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Remarks" name="remarks"></textarea>
  </mat-form-field>
  <label>Emergency Contact</label>
  <mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Phone Number" name="phone_number">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" class="form-control" placeholder="Email Address" name="email_address">
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</div>