<div class="mt-4 col-4 offset-4">
    <div class="card">
      <div class="card-header">Request New Password</div>
        <div class="card-body">
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
          </div>
          <div class="alert alert-success" [hidden]="!message">
            {{message}}
          </div>
            <form #requestPasswordForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1"  [(ngModel)]="form.email" required aria-describedby="emailHelp" placeholder="Enter email" [email]="true">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!requestPasswordForm.valid">Submit Request</button>
                <a routerLink="/login" class="btn btn-info float-right">Lgoin</a>
            </form>
      </div>
    </div>
  </div>